<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 定義數據源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- 指定連接數據庫的驅動 -->
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<!-- 指定連接數據庫的URL -->
		<property name="url">
			<value>jdbc:mysql://localhost/spring</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>	
	</bean>	
	<!-- 定義Hibernate的sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 依賴注入已配置好的數據源 -->
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
		<!-- 指定Hibernate所有映射文件的路径 -->
		<property name="mappingResources">
			<list>
				<value></value>
			</list>
		</property>
		<!-- 设置Hibernate的属性 -->
		<property name="hibernatePropertites">
			<props>
				<prop  key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 设置是否在控制台输出由hibernate生成的SQL语句 -->
				<prop key="show_sql">true</prop>
			</props>
		</property>
	</bean>
</beans>